# vim: filetype=sh
#
# This file is read second (and per domain if running with the -a option)
# and overwrites any settings from the first file
#
# Uncomment and modify any variables you need
# see https://github.com/srvrco/getssl/wiki/Config-variables for details
# see https://github.com/srvrco/getssl/wiki/Example-config-files for example configs
#
# The staging server is best for testing
#CA="https://acme-staging-v02.api.letsencrypt.org"
# This server issues full certificates, however has rate limits
#CA="https://acme-v02.api.letsencrypt.org"

# Private key types - can be rsa, prime256v1, secp384r1 or secp521r1
#PRIVATE_KEY_ALG="rsa"

# Additional domains - this could be multiple domains / subdomains in a comma separated list
# Note: this is Additional domains - so should not include the primary domain.
#SANS="www.example.org,example.net,example.edu,example.org,www.example.com,www.example.edu,www.example.net"
<% if @sans.nil? || @sans == [] %>
#SANS=""
<% else %>
SANS="<%= Array(@sans).join(',') %>"
<% end %>

# Acme Challenge Location. The first line for the domain, the following ones for each additional domain.
# If these start with ssh: then the next variable is assumed to be the hostname and the rest the location.
# An ssh key will be needed to provide you with access to the remote server.
# Optionally, you can specify a different userid for ssh/scp to use on the remote server before the @ sign.
# If left blank, the username on the local server will be used to authenticate against the remote server.
# If these start with ftp:/ftpes:/ftps: then the next variables are ftpuserid:ftppassword:servername:ACL_location
# These should be of the form "/path/to/your/website/folder/.well-known/acme-challenge"
# where "/path/to/your/website/folder/" is the path, on your web server, to the web root for your domain.
# ftp: uses regular ftp; ftpes: ftp over explicit TLS (port 21); ftps: ftp over implicit TLS (port 990).
# ftps/ftpes support FTPS_OPTIONS, e.g. to add "--insecure" to the curl command for hosts with self-signed certificates.
# You can also user WebDAV over HTTPS as transport mechanism. To do so, start with davs: followed by username,
# password, host, port (explicitly needed even if using default port 443) and path on the server.
# Multiple locations can be defined for a file by separating the locations with a semi-colon.
#ACL=('/var/www/example.com/web/.well-known/acme-challenge'
#     'ssh:server5:/var/www/example.com/web/.well-known/acme-challenge'
#     'ssh:sshuserid@server5:/var/www/example.com/web/.well-known/acme-challenge'
#     'ftp:ftpuserid:ftppassword:example.com:/web/.well-known/acme-challenge'
#     'davs:davsuserid:davspassword:{DOMAIN}:443:/web/.well-known/acme-challenge'
#     'ftps:ftpuserid:ftppassword:example.com:/web/.well-known/acme-challenge'
#     'ftpes:ftpuserid:ftppassword:example.com:/web/.well-known/acme-challenge')
ACL=('<%= @acls.join(";") %>')

# Specify SSH options, e.g. non standard port in SSH_OPTS
# (Can also use SCP_OPTS and SFTP_OPTS)
<% if @scp_options.nil? || @scp_options.size == '' %>
#SCP_OPTS=""
<% else %>
SCP_OPTS="<%= @scp_options %>"
<% end %>
<% if @sftp_options.nil? || @sftp_options.size == '' %>
#SFTP_OPTS=""
<% else %>
SFTP_OPTS="<%= @sftp_options %>"
<% end %>
<% if @ssh_options.nil? || @ssh_options.size == '' %>
#SSH_OPTS=""
<% else %>
SSH_OPTS="<%= @ssh_options %>"
<% end %>

# Set USE_SINGLE_ACL="true" to use a single ACL for all checks
USE_SINGLE_ACL="true"

# Preferred Chain - use an different certificate root from the default
# This uses wildcard matching so requesting "X1" returns the correct certificate - may need to escape characters
# Staging options are: "(STAGING) Doctored Durian Root CA X3" and "(STAGING) Pretend Pear X1"
# Production options are: "ISRG Root X1" and "ISRG Root X2"
#PREFERRED_CHAIN="\(STAGING\) Pretend Pear X1"

# Uncomment this if you need the full chain file to include the root certificate (Java keystores, Nutanix Prism)
<% if @full_chain_include_root == true %>
FULL_CHAIN_INCLUDE_ROOT="true"
<% else %>
#FULL_CHAIN_INCLUDE_ROOT="true"
<% end %>

# Location for all your certs, these can either be on the server (full path name)
# or using ssh /sftp as for the ACL
#DOMAIN_CERT_LOCATION="/etc/ssl/example.com.crt" # this is domain cert
<% if @key_location.nil? || @key_location.size == '' %>
#DOMAIN_KEY_LOCATION=""
<% else %>
# this is domain key
DOMAIN_KEY_LOCATION="<%= @key_location.is_a?(Array) ? @key_location.join(';') : @key_location %>"
<% end %>

#CA_CERT_LOCATION="/etc/ssl/chain.crt" # this is CA cert
# this is the domain cert and CA cert
<% if @chain_location.nil? || @chain_location.size == '' %>
#DOMAIN_CHAIN_LOCATION=""
<% else %>
DOMAIN_CHAIN_LOCATION="<%= @chain_location.is_a?(Array) ? @chain_location.join(';') : @chain_location %>"
<% end %>

#DOMAIN_PEM_LOCATION="" # this is the domain key, domain cert and CA cert

# The command needed to reload apache / nginx or whatever you use.
# Several (ssh) commands may be given using a bash array:
# RELOAD_CMD=('ssh:sshuserid@server5:systemctl reload httpd' 'logger getssl for server5 efficient.')
<% if @reload_cmd.nil? || @reload_cmd.size == '' %>
#RELOAD_CMD=""
<% else %>
<% if @reload_cmd.is_a?(Array) %>
RELOAD_CMD=('<%= @reload_cmd.join("'\n     '") %>')
<% else %>
RELOAD_CMD="<%= @reload_cmd %>"
<% end %>
<% end %>

# Uncomment the following line to prevent non-interactive renewals of certificates
#PREVENT_NON_INTERACTIVE_RENEWAL="true"

# Define the server type. This can be https, ftp, ftpi, imap, imaps, pop3, pop3s, smtp,
# smtps_deprecated, smtps, smtp_submission, xmpp, xmpps, ldaps or a port number which
# will be checked for certificate expiry and also will be checked after
# an update to confirm correct certificate is running (if CHECK_REMOTE) is set to true
#SERVER_TYPE="https"
#CHECK_REMOTE="true"
#CHECK_REMOTE_WAIT="2" # wait 2 seconds before checking the remote server
